---
---
@charset "utf-8";

$red: #ff4848;
$purple: #513048;
$blue: #2a7ae2;
$aqua: #2ca782;

$base-font-family: "brother-1816", sans-serif;
$base-font-size: 14px;
$base-font-weight: 400;
$base-font-color: #111;

$headings-font-family: georgia, serif;
$monospace-font-family: "inconsolata", monospace;

$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 32px;
$spacing-1x: 4px;
$spacing-2x: 8px;
$spacing-3x: 16px;
$spacing-4x: 32px;

$text-color: #44440F;
$background-color: #f6f6f2;
$brand-color: #2a7ae2;

$border: 1px solid #cececa;

$grey-color: #111;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$content-width:    800px;
$site-width: 660px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base";
@import "layout";
@import "syntax-highlighting";

@import "homepage";
