---
---

$red: #CA483F;
$green: #34A179;
$violet: #5662B5;

$site-width: 660px;

*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
 }

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  font-family: georgia, serif;
  font-size: 18px;
  line-height: 30px;
}

// Type

h1, h2, h3, h4, h5, h6 {
  font-size: 24px;
}

h1 {
  font-size: 24px;
  &.code { color: $red; }
  &.operations { color: $green; }
  &.tooling { color: $violet; }
}

h2 {
  font-size: 20px;
  margin: 18px 0;
}

h3 {
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 1px;
}

p {
  margin: 18px 0;

  > code {
    background-color: #fafafa;
    font-family: monospace;
    padding: 3px;
  }
}

blockquote {
  border-left: 2px solid #eee;
  font-style: italic;
  padding: 0 24px;
}

// Header
.header {
  align-items: center;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  color: #fff;
  display: flex;
  font-family: arial;
  font-size: 14px;
  height: 35px;

  .branding {
    align-items: center;
    background-color: $red;
    color: #fff;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 0 12px;

    &.code { background-color: $red; }
    &.operations { background-color: $green; }
    &.tooling { background-color: $violet; }

    a {
      &:hover { color: #fff; }
    }
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;

    a {
      color: #333;
    }
  }

  a {
    color: #fff;
    display: block;
    font-family: monospace;
    font-weight: bold;
    padding: 0 6px;
  }

  .arrow-right {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 9px solid $red;

    &.code { border-left-color: $red; }
    &.operations { border-left-color: $green; }
    &.tooling { border-left-color: $violet; }
  }

  .logo {
    font-weight: bold;
    font-size: 16px;
    margin-right: 16px;
  }

  .category {
    padding: 0 8px;
  }
}

// Site
.site {
  margin: 96px auto;
  width: $site-width;
  display: flex;
  flex-direction: column;

  .content {
    flex: 1;
  }
}

// Posts
  a {
    text-decoration: none;
  }

.posts {
  .post {
    margin: 36px 0;
  }

  small {
    font-variant: small-caps;
    letter-spacing: 1px;
    font-family: arial;
    line-height: 12px;
    font-size: 13px;
  }

  .cat {
    padding-left: 12px;
    font-weight: bold;

    &.code { color: $red; }
    &.operations { color: $green; }
    &.tooling { color: $violet; }
  }

  h2 {
    font-size: 20px;
    margin: 0px 0px;
    padding: 0;
    text-align: left;

    a {
      color: #333;
    }
  }

  p {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
  }
}

.post {
  pre {
    background-color: #fafafa;
    border: 1px solid #f0f0f0;
    font-size: 80%;
    overflow: auto;
    padding: 5px 10px;
  }
}

.about-author {
  border-top: 1px solid #ccc;
  margin-top: 32px;
  padding: 32px 0 0 0;
}

.footer {
  border-top: 1px solid #ccc;
  color: #888;
  display: flex;
  font-family: arial;
  font-size: 12px;
  margin: 32px 0 32px 0px;
  padding: 32px 0 0 0;
  width: $site-width;

  ul {
    margin: 0 56px 0 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  p {
    font-weight: 600;
    margin-bottom: 4px;
  }
}
