<footer class="footer">
  <ul>
    <p>DevLocker</p>
    <li>Source Code</li>
    <li>Install</li>
    <li>Mobile</li>
    <li>Terminal</li>
    <li>Tour</li>
  </ul>
  <ul>
    <p>About Us</p>
    <li>Blog</li>
    <li>Team</li>
    <li>News</li>
    <li>Jobs</li>
  </ul>
  <ul>
    <p>Support</p>
    <li>Help</li>
    <li>Documentation</li>
    <li>Talk to a Person</li>
    <li>Privacy</li>
  </ul>
  <ul>
    <p>Community</p>
    <li>Source Code</li>
    <li>Github</li>
    <li>Twitter</li>
    <li>Developers</li>
  </ul>
</footer>
