/* Reset some basic elements */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/* Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-4x / 2;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  font-weight: $base-font-weight;
}

h1 {
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
}

a {
  color: $link-color;
  text-decoration: none;
  border-bottom: 2px solid $link-underline;
  position: relative;

  &:before {
    background-color: $link-color;
    bottom: -2px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition: all 0.15s ease-in-out 0s;
    visibility: hidden;
    width: 100%;
  }

  &:hover {
    &:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
}
