*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-size: $base-font-size;
}

html {
  background-color: $background-color;
  line-height: 28px;
}

.header {
  .header__content {
    align-items: center;
    display: flex;
    margin: 0 auto;
    width: $site-width;
    padding: $spacing-4x 0 $spacing-3x 0;
    border-bottom: 1px solid $red;
  }

  nav {
    margin-left: auto;

    a {
      color: $base-font-color;
      margin-left: $spacing-2x;
    }
  }
}
