<html> 
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="DevLocker" />

    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  </head>
  <body>
    <header class="header">
    <div class="branding {{ page.category }}">
        <a href="http://devlocker.io" class="important">DevLocker</a>
        <span>/</span>
        <a href="/blog" class="sub">Blog</a>
        <span>/</span>
        <a href="{{ page.url }}">{{ page.category | capitalize }}</a>
      </div>
      <div class="arrow-right {{ page.category }}"></div>
      <div class="right">
        <p class="category"><a href="#">Code</a></p>
        <p class="category"><a href="#">Design</a></p>
        <p class="category"><a href="#">Tooling</a></p>
        <p class="category"><a href="#">Product</a></p>
        <p class="category"><a href="#">Operations</a></p>
      </div>
    </header>

    <div class="site">
      <div class="content">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
