<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="DevLocker" />
    <link rel="stylesheet" href="/css/homepage.css" type="text/css" media="screen, projection" />
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header class="header">
      <nav class="menu">
        <div><a href="/blog">Blog</a></div>
        <div><a href="https://github.com/devlocker/devlocker" target="_blank">Github</a></div>
        <div class="right">Log In</div>
      </nav>
    </header>
    <div class="content">
      {{ content }}
    </div>
  </body>
</html>
